.todolist-container{
  position: relative;
  border: 1px solid;
  width: 650px;
  height: 440px;
  margin-top: 25px;
  padding: 20px;
  border-color: #BE3144;
  background: linear-gradient(180deg, rgba(190, 49, 68, 0.3) 0%, rgba(135, 35, 65, 0.3) 100%);
  border-radius: 10px;
}

.header-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.section-todolist{
  color: white;
}


.todolist-title{
  font-size: 26px;
  margin: 0;
  font-weight: 600;
  color: white;
  margin-bottom: 5px;
}

.addtask-button{
  font-family: Outfit;
  font-size: 16px;
  color: #872341;
  background-color: white;
  padding: 10px 13px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.task-list-container{
  margin-top: 10px;
  padding: 14px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #BE3144;
  width: 619px;
  height: 330px;
}